:80 {
	respond "Hello, local world!"
}

:5555 {
	respond "Hello, local world on port 5555!"
}

:8080 {
	reverse_proxy web:8080
}

demo.dhis2.jc.phac.alpha.canada.ca {
	# service available at web:8080 because we are in the same compose file (network)
	reverse_proxy web:8080
}
